<h2>Question_id =  <%= @question.id %></h2>
<div class="well col-xs-8 col-xs-offset-2">
  <hr>
  <h4 class="center description"><strong>Question text:   "<%= @question.body %>"</strong></h4>
  <hr>
  <div class="article-actions">
    <%= link_to 'Return to questions', test_path(@question.test), class: 'btn btn-xs btn-success' %>
  </div>
</div>
