<div class="row justify-content-center mt-3">

  <div class="col-md-4 col-md-offset-3">
    <div class="new-book-form">

      <h2><%= t('.new_badge') %></h2>

      <%= render 'form' %>
      <%= link_to t('.back_to_tests'), admin_tests_path %>
    </div>
  </div>
</div>
