<% if resources.present? && resources.errors.any? %>
  <%= content_tag :div, class: 'resource-errors', data: { resource_id: resources.id } do %>

    <h3><%= t('.header', count: resources.errors.count) %></h3>
    <ul>
      <% resources.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>