<div class="row justify-content-center mt-3">
  <div class="col col-md-4">
    <h3>Question</h3>

    <p><%= @answer.question.body %></p>

    <p>
      <b>Answer:</b>
      <%= @answer.body %>
    </p>
    <p>
      <b>Correct:</b>
      <%= @answer.correct %>
    </p>

    <%= link_to 'Back', admin_question_path(@answer.question) %>
  </div>
</div>
