<footer>
  <p><%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'http://thinknetica.com', target: :blank %></p>
  <p>
    Brovkin Oleg
    <%= current_year %>
    <%= github_url('BrovkinOleg', 'Rails_Lessons') %>
  </p>
</footer>
