<footer>
  <p><%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'http://thinknetica.com', target: :blank %></p>
  <p>
    Brovkin Oleg <%= github_url('BrovkinOleg', 'Rails_Lessons') %>
    <br><%= current_year %>
  </p>
</footer>
