<footer>
  <p><%= link_to 'Thinknetica on line RoR course', 'http://thinknetica.com/', target: :blank %></p>
  <p>
    Brovkin_Oleg 2019
    <%= link_to 'GitHub Brovkin_Oleg', 'http://boxbox.ru' %>
  </p>
</footer>